<h3><%= @round.question %></h3>

<% @round.possible_answers.each do |possible_answer| %>
  <% 
    url = @anchor_path + "?selected_answer=" + possible_answer.encode_base64_url_safe 
    anchor_tag = "<a href='#{url}'>#{possible_answer}</a>" 
  %>
  <p><%= anchor_tag.html_safe %></p>
<% end %>

Questions remaining <%= @questions_remaining %>
